/* doucment upload */

.expand-arrow {
    background: url("../images/arrow-right.png") no-repeat center left;
    background-size: 13px;
    padding: 0px 20px;
}

.expand-arrow:hover {
    background: url("../images/arrow-right-hover.png") no-repeat center left;
}

.secondary
{
    border: 1px solid #7D7D7D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f2f2f2;
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    box-shadow: none;
    background: #f2f2f2;
    margin-right: 15px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
}

.secondary:hover{
    background-color: #ebebeb;
    color: black;
    border-color: black;
}